body {
    margin: 60px auto;
    font-family: 'Helvetica';
    width: 70%;
    background-color: #191923;
    color: #FFFFFF;
}
nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #20B2AA;
}
a:visited{
    color: #008B8B;
}
a:hover {
    text-decoration: underline;
    color: #20B2AA;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica';
    color: #FFFFFF;
}
h2 {
    color: #20B2AA;
}
h3 {
    color: #20B2AA;
}
p {
    font-size: 1.5em;
    font-family: 'Helvetica';
    line-height: 1.4em;
    color: #FFFFFF;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    color: #FFFFFF;
}
